.container {
  background: white;
  height: 100%;
  box-shadow: 0 4px 12px #ebedf0;
}
.form-empty {
  position: absolute;
  text-align: center;
  width: 300px;
  font-size: 20px;
  top: 24%;
  left: 50%;
  margin-left: -150px;
  color: #aaa;
}
