$primary-color: #247fea;
$layout-color: #e6450f;
$ghost-color: #389e0d;
$primary-background-color: #ecf5ff;

.widget-container {
  background: white;
  height: 100%;
  box-shadow: 0 4px 12px #ebedf0;
  .form-empty {
    position: absolute;
    text-align: center;
    width: 300px;
    font-size: 20px;
    top: 24%;
    left: 50%;
    margin-left: -150px;
    color: #aaa;
  }
  .widget-view {
    // padding-bottom: 18px;
    padding: 5px;
    overflow: hidden;
    position: relative;
    border: 1px dashed hsla(0, 0%, 66.7%, 0.7);
    background-color: rgba(236, 245, 255, 0.3);
    margin: 2px;
    text-align: left;
    cursor: pointer;
    .widget-view-model {
      position: absolute;
      top: 3px;
      right: 3px;
      font-size: 12px;
      color: #67c23a;
      z-index: 9;
      font-weight: 500;
    }
    .widget-view-drag {
      position: absolute;
      left: 0px;
      top: 0px;
      color: white;
      box-sizing: border-box;
      padding: 0px 5px;
      font-size: 18px;
      background: #247fea;
      z-index: 9;
      i {
        color: #fff;
        font-weight: 500;
        margin: 0 5px;
        cursor: move;
      }
    }
    &:hover {
      background: $primary-background-color;
      outline: 1px solid $primary-color;
      outline-offset: 0px;

      &.active {
        outline: 2px solid $primary-color;
        border: 1px solid $primary-color;
        outline-offset: 0;
      }
      .widget-view-drag {
        display: block;
      }
    }
    &.active {
      outline: 2px solid $primary-color;
      border: 1px solid $primary-color;
    }
  }
}
